<html>
  <head>
    <link rel="stylesheet" href="dashboard.css" type="text/css" media="screen" charset="utf-8"/>
    <script src="javascripts/lib/jquery-1.5.2.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/dashboard.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" language="javascript" charset="utf-8">
      $(function () { 
          var marco = dashboard.manager(); 
          setInterval(marco.refresh, 60000);
      });
    </script>
  </head>
  <body>
    <div id="sounds">
      <audio id="success" src="sounds/success.ogg" controls/>
      <audio id="failure" src="sounds/failure.ogg" controls/>
    </div>

    <div id="failure_box" class="failure"></div>
    <div id="success_box" class="success"></div>
  </body>
</html>
