html, html *, * {
  margin: 0;
  padding: 0;
  border: none;
  font-family: verdana, calibri, helvetica, arial;
  text-decoration: none;
  font-size: 10pt;
}
div.cell { margin: 10px; color: #f2f2f2; text-align: center; display: inline-block; }
div.cell.failure { 
  background: #a04040; 
  width: 200px; height: 100px; line-height: 100px;
}
div.cell.success { 
  background: #40a860; 
  width: 60px; height: 30px; line-height: 30px;
  margin: 10px 2px;
}
div.cell.success h4 { font-size: 7pt; }
div.cell.failure h4 { font-size: 14pt; }
div#success_box { float: left; width: auto; }
div#failure_box { float: left; width: auto; }
@-webkit-keyframes failure {
  from { -webkit-transform: scale(1.0); opacity: 1.0; }
  50% { -webkit-transform: scale(1.1); opacity: 0.75; border-radius: 50px; background: #fe1010;
    box-shadow: 2px 2px 2px 2px black; }
  to { -webkit-transform: scale(1.0); opacity: 1.0; }
}

.cell.failure { 
  -webkit-animation-name: failure; 
  -webkit-animation-duration: 0.5s; 
  -webkit-animation-iteration-count: infinite; 
}

