html, html *, * {
  margin: 0;
  padding: 0;
  border: none;
  font-family: verdana, calibri, helvetica, arial;
  text-decoration: none;
  font-size: 10pt;
}

div.cell { margin: 10px; color: #f2f2f2; text-align: center; display: inline-block; overflow: hidden; }

div.cell.failure { 
  background: #a04040; 
  width: 200px; height: 100px; line-height: 100px; position: relative; 
}

div.cell.success { 
  background: #40a860; 
  width: 60px; height: 30px; line-height: 30px;
  margin: 10px 2px;
}

div.cell.success h4 { font-size: 7pt; }
div.cell.failure h4 { font-size: 14pt; text-align: center; }
div.cell a { color: white }  
div.cell.success h5 { font-size: 7pt; }
div.cell.failure h5 { font-size: 10px; line-height: 10px; position: absolute; bottom: 0; right: 0;}

div#success_box { float: left; width: auto; position: relative; }
div#failure_box { float: left; width: auto; }
